*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial;
  }
  
  body {
    background-color: hsl(240, 3%, 7%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 1em;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
    align-content: center;
    justify-content: space-between;
  }

  #title {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 1em;
  }


  #grid-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: .75em;
    margin-bottom: 1em;
    /* display: inline-flex;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: .25em;
    margin-bottom: 1em; */
  }

  .guess-grid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    /* display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: .25em;
    margin-bottom: 1em; */
  }

  .grid-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    width: 2em;
    height: 1.2em;
    background-color: white;
    border-radius: 0.3em;
    margin-bottom: 0.2em;
  }

  .grid-rows {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid white;
  }


  .row {
    display: inline-flex;
    gap: .25em;
  }

  .tile {
    font-size: 1.5em;
    color: white;
    border: .05em solid hsl(240, 2%, 23%);

    width: 1.75em;
    height: 1.75em;

    flex-shrink: 1;

    text-transform: uppercase;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: transform 250ms linear;
  }
  
  .tile[data-state="active"] {
    border-color: hsl(200, 1%, 34%);
  }
  
  .tile[data-state="wrong"] {
    border: none;
    background-color: hsl(240, 2%, 23%);
  }
  
  .tile[data-state="wrong-location"] {
    border: none;
    background-color: hsl(49, 51%, 47%);
  }
  
  .tile[data-state="correct"] {
    border: none;
    background-color: hsl(115, 29%, 43%);
  }
  
  .tile.shake {
    animation: shake 250ms ease-in-out;
  }
  
  .tile.dance {
    animation: dance 500ms ease-in-out;
  }
  
  .tile.flip {
    transform: rotateX(90deg);
  }
  
  @keyframes shake {
    10% {
      transform: translateX(-5%);
    }
  
    30% {
      transform: translateX(5%);
    }
  
    50% {
      transform: translateX(-7.5%);
    }
  
    70% {
      transform: translateX(7.5%);
    }
  
    90% {
      transform: translateX(-5%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes dance {
    20% {
      transform: translateY(-50%);
    }  
  
    40% {
      transform: translateY(5%);
    }  
  
    60% {
      transform: translateY(-25%);
    }  
  
    80% {
      transform: translateY(2.5%);
    }  
  
    90% {
      transform: translateY(-5%);
    }  
  
    100% {
      transform: translateY(0);
    }
  }
  
  .alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .alert {
    pointer-events: none;
    background-color: hsl(204, 7%, 85%);
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
  }
  
  .alert:last-child {
    margin-bottom: 0;
  }
  
  .alert.hide {
    opacity: 0;
  }